#form-reg {
  width: 400px;
  margin: 0 auto;
}
.show-error {
  .invalid-feedback {
    display: block;
  }
  input, select {
    border-color: var(--red);
  }
}
.company {
  &__content-height {
    height: 300px;
  }
  &__content-scroll {
    max-height: 100%;
    overflow-y: auto;
    cursor: pointer;
  }
  &__total {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    span {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100px;
      width: 100px;
      border: 1px solid grey;
      border-radius: 50%;
      padding: 80px;
      font-weight: bold;
      font-size: 1.5em;
    }
  }
  &__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    i {
      font-size: 1.5em;
    }
  }
}
.carousel .carousel-indicators{
  &__point {
    border-radius: 50%;
    height: 10px;
    width: 10px;
  }
}
.company-partners {
  display: flex;
  height: 100%;
  overflow: auto;
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60px;
    position: relative;
    &:not(:last-child){
      margin-right: 10px;
    }
    &::after {
      content: " ";
      position: absolute;
      top: 60px;
      left: 50%;
      -webkit-transform: translate(-50%, 0);
      -moz-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
      -o-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
      width: 1px;
      height: calc(50% - 60px);
      background: grey;
    }
  }
  &__percent{
    span {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 60px;
      width: 60px;
      border: 1px solid grey;
      border-radius: 50%;
      padding: 10px;
    }
  }
&__name {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    border: 1px solid grey;
  span {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    line-height: 1;
  }
}
}
#myChart {
  height: 100%;
  margin: 0 auto;
}
//START carousel style-------------------------
.carousel.slide {
  height: 100%;
}
.carousel .carousel-indicators__point {
  height: 15px;
  width: 15px;
  background-color: lightgrey;
  &.active {
    background-color: grey;
  }
}
//End carousel style-------------------------
//loaders & animation-------------------------
@keyframes spin {
  from {transform: rotate(0deg)}
  to {transform: rotate(360deg)}
}
.loader {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: white;
  z-index: 77;
  font-size: 70px;
  color: grey;
  i {
    animation-name: spin;
    animation-duration: 777ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}